@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* body */
body {
    width: 100%;
    background-color: #141414;
    margin: 0px;
    padding: 0px;
    font-family: Nunito;
    color: #fff;
    font-weight: 700;
    display: flex;
}

/* nav bar start */
.nav_bar{
    background-color: #000000;
    width:75px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_title{
    padding-top: 20px;
    font-weight: 500;
    font-size: 30px;
}

.nav_item{
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav_button{
    text-decoration: none;
    border: none;
    color: #fff;
    font-size: 17px;
    width: 90px;
}

/* nav bar end */

/* login start */
.lgn_screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lgn_container{
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lgn_inputs{
    margin-top: 10px;
}

.lgn_button{
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
/* login end */

/* profile start */
.profile_page{
    width: 100%;
    height: 100vh;
}

.prof_main_cont{
    height: 50vh;
    padding: 1rem;
}

.prof_main_bg{
    height: 100%;
    border-radius: 60px;
}

.prof_box{
    border-radius: 15px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #000000;
}

.prof_img{
    border-radius: 150px;
    height: 150px;
    width: 150px;
    margin-left: 15px;
    margin-right: 10px;
}

.prof_name{
    font-size: 21px;
}

.prof_sub_det{
    display: flex;
    flex-direction: column;
}

.rank_text{
    color: gold;
}

.prof_team{
    background-color: #000000;
    min-height: 500px;
    margin-top: 1rem;
    border-radius: 15px;
    padding: 15px;
}

.team_member_box{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* profile end */

/* popup start */
#popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Dark background with opacity */
}

/* Popup content */
.popup-content {
  background-color: #fff;
  margin: 15% auto; /* Center vertically and horizontally */
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* Set the width of the popup */
  position: relative;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #f00;
}
/* popup end */

/* Standards */
.gen_head1{
    font-size: 25px;
}

.gen_btn{
    height: 30px;
    background-color: gray;
    border-radius: 15px;
    border: none;
}

.modal{
    width: 300px;
    height: 150px;
    border-radius:15px;
    background-color: gray;
}
.modal::backdrop{
    width: vw;
    height: vh;
    background-color: #000;
    opacity: 0.95;
}

.flex{display:flex;}
.justify-center{justify-content:center;}
.space-between{justify-content:space-between;}
.items-center{align-items:center;}
.items-bottom{align-items:bottom;}
